.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #FFFFFF;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

.heart {
  color: #ff0000;
}

.small {
  font-size: 0.75rem;
}

.colorNav {
  background-color: #FFFFFF !important;
}

.cuadro-30x30 {
  width: 30px;
  height: 30px;
  background-color: #D9D9D9;
  margin-left: 15px;
  margin-right: 20px;
}

.welcomediv {
  background-color: #D9D9D9;
  height: 600px;
}

.margen {
  padding-top: 200px;
}

.logowel {
  font-size: 100px
}

.imgsize {
  object-fit: cover;
  height: 400px;
}

.grisosc {
  background-color: #B4B4B4;
  height: 40px;
}

.griscla {
  background-color: #D9D9D9;
  height: 220px;
}

.grisimg {
  background-color: #D9D9D9;
  height: 300px;
  width: 300px;
}

.imgverde {
  width: 100px;
  height: 100px;
}